
# VMware Folder, where VM will be created
variable "ocp-folder" {
  default = "{{ vsphere_folder }}"
}

# VMware Tag
variable "guest_id_tag" {
  default = "coreos64Guest"
}

# VMware User
variable "vsphere_user" {
  default = "{{ vsphere_user }}"
}

# VMware Pass
variable "vsphere_pass" {
  default = "{{ vsphere_pass }}"
}

# VMware Server
variable "vsphere_server" {
  default = "{{ vsphere_server }}"
}

# Boot-Delay
variable "vm_vsphere_vm_boot_delay" {
  default = "{{vsphere_vm_boot_delay}}"
}