output "vm-name" {
 description = "VM-Name"
 value = vsphere_virtual_machine.{{hostname}}.name
 
}

output "mac-address1" {
 description = "Mac-Adress"
 value = vsphere_virtual_machine.{{hostname}}.network_interface[0].mac_address
}

output "mac-address2" {
 description = "Mac-Adress"
 value = vsphere_virtual_machine.{{hostname}}.network_interface[1].mac_address
}

output "mac-address3" {
 description = "Mac-Adress"
 value = vsphere_virtual_machine.{{hostname}}.network_interface[2].mac_address
}