DEFAULT menu.c32
PROMPT 0

MENU TITLE CoreOS-Install-Menu
MENU AUTOBOOT Starting CoreOS in # seconds

timeout 18
ONTIMEOUT coreOS

LABEL coreOS
menu label Add {{ hostname }} Node
kernel kernel_initrd/{{ file_coreos_kernel }} 
append initrd=kernel_initrd/{{file_coreos_initrd}} coreos.live.rootfs_url=http://{{ bastion.ip }}/{{ clustername }}/{{file_coreos_rootfs}} coreos.inst.install_dev=/dev/sda coreos.inst.ignition_url=http://{{ bastion.ip }}/{{ clustername }}/{{ ignition_file }}