apiVersion: v1
kind: PersistentVolume
metadata:
  name: image-registry-storage
spec:
  capacity:
    storage: {{ image_registry_storage_capacity | default('100Gi') }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: '{{ nfs_server }}'
    path: '{{ nfs_path }}'