#+----------------------------+#
#| --- DNS-SEKTION ---        |#
#+----------------------------+#
# Grundlegende globale DNS-Einstellungen
domain-needed
#bogus-priv
interface={{ interface }}
listen-address={{ listen_address }}
bind-interfaces
#expand-hosts
domain={{clustername}}.{{domain}},{{net_openshift}}{{netmask_openshift_cidr}},local
#log-queries
log-facility=/var/log/dnsmasq.log
log-dhcp
no-resolv
strict-order

#+--------------+#
#| --- DHCP --- |#
#+--------------+#
{% if dhcp_range is defined %}
# DHCP
## Gilt nur für alle Master und Worker Nodes
dhcp-range={{ dhcp_range }}
{% endif %}

# DHCP-Optionen (Default-Gateway, DNS-Server, ...)
## Gateway (Option=3)
dhcp-option=3,{{ dhcp_gateway }}

## DNS-Server (Option=6)
dhcp-option=6,{{ bastion.ip }}

{% if ntpserver is defined %}
## NTP Server (Option=42)
dhcp-option=42,{{ ntpserver }}
{% endif %}

## OpenShift-Nodes-DHCP


## OpenShift-Nodes-DNS

## DHCP-Boot-Options
dhcp-boot=tag:openshift_node,{{ boot_script }},{{ bastion.hostname }}.{{ clustername }}.{{ domain }}


#+-------------+#
#| --- DNS --- |#
#+-------------+#
# DNS
## DNS-OpenShift-Cluster
address=/.apps.{{ clustername }}.{{ domain }}/{{ lb.app.ip }}
address=/api-int.{{ clustername }}.{{ domain }}/{{ lb.api_int.ip }}
address=/api.{{ clustername }}.{{ domain }}/{{ lb.api.ip }}

## SRV-Records für ETCD im OpenShift-Cluster
{% for i in range( 0,masters | length ) %}
srv-host=_etcd-server-ssl._tcp.{{ clustername }}.{{ domain }},etcd-{{ i }}.{{ clustername }}.{{ domain }}.,2380
{% endfor %}

## Auflösung für ETCD
{% for i in range( 0,masters | length ) %}
address=/etcd-{{ i }}.{{ clustername }}.{{ domain }}/{{ masters[i].ip }}
{% endfor %}

## Auflösung für Bastion-Host
address=/{{ bastion.hostname }}.{{ clustername }}.{{ domain }}/{{ bastion.ip }}

### Auflösung für NFS-IP
address=/{{ nfs_server_name }}/{{ nfs_server_ip }}

# VMware, vCenter, vSphere
address=/{{ vsphere_server }}/10.0.249.205

#+-------------+#
#| --- PXE --- |#
#+-------------+#
enable-tftp
tftp-root={{ dir_tftp_root }}
