#+----------------------------+#
#| --- DNS-SEKTION ---        |#
#+----------------------------+#
# Grundlegende globale DNS-Einstellungen
#domain-needed
#bogus-priv
#local=/cm1.cloud.intern.fags.dir/
interface={{ interface }}
listen-address={{ listen_address }}
bind-interfaces
#expand-hosts
#domain=cm1.cloud.intern.fags.dir
#log-queries
#log-facility=/var/log/dnsmasq.log
#log-dhcp
no-resolv
strict-order

## Spezielle MAC-Address-zu-IP-Zuweisung von Master- und Worker-Nodes. Beim Booten sollen den Master/Worker-Nodes anhand ihrer MAC-Adressen bestimmte Hostnamen und IP-Adressen zugewiesen werden.
{% for h in masters %}
dhcp-host={{ h.mac }},{{ h.hostname }}.{{ clustername }}.{{ domainname }},{{ h.ip }},set:openshift_node
{% endfor %}
{% for h in workers %}
dhcp-host={{ h.mac }},{{ h.hostname }}.{{ clustername }}.{{ domainname }},{{ h.ip }},set:openshift_node
{% endfor %}


# Bootstrap-MAC-zu-IP-Zuweisung
dhcp-host={{ bstrp.mac }},{{ bstrp.hostname }}.{{ clustername }}.{{ domainname }},{{ bstrp.ip }},set:openshift_node

## Spezifische DNS-Einstellungen
### DNS-Namensaufloesung
address=/.apps.{{ clustername }}.{{ domainname }}/{{ lb.app.ip }}
address=/api-int.{{ clustername }}.{{ domainname }}/{{ lb.api_int.ip }}
address=/api.{{ clustername }}.{{ domainname }}/{{ lb.api.ip }}

# VMware, vCenter, vSphere
address=/{{ vsphere_server }}/10.0.249.205

### SRV-Records für ETCD im OpenShift-Cluster
{% for i in range( 0,masters | length ) %}
srv-host=_etcd-server-ssl._tcp.{{ clustername }}.{{ domainname }},etcd-{{ i }}.{{ clustername }}.{{ domainname }}.,2380
{% endfor %}

### Auflösung für ETCD
{% for i in range( 0,masters | length ) %}
address=/etcd-{{ i }}.{{ clustername }}.{{ domainname }}/{{ masters[i].ip }}
{% endfor %}

### Auflösung Bootstrap-Node
address=/{{ bstrp.hostname }}.{{ clustername }}.{{ domainname }}/{{ bstrp.ip }}

### Auflösung für Bastion-Host
address=/{{ bastion.hostname }}.{{ clustername }}.{{ domainname }}/{{ bastion.ip }}

### Auflösung für Master/Worker-Nodes
#### Master
{% for i in range( 0,masters|length ) %}
address=/{{ masters[i].hostname }}.{{ clustername }}.{{ domainname }}/{{ masters[i].ip }}
{% endfor %}

#### Worker
{% for i in range( 0,workers|length ) %}
address=/{{ workers[i].hostname }}.{{ clustername }}.{{ domainname }}/{{ workers[i].ip }}
{% endfor %}

### Auflösung für GPFS-Cluster-IP
address=/{{ nfs_name }}/{{ nfs_server_ip }}

{#
### Auflösung Load-Balancer
address=/{{ lb.hostname }}.{{ clustername }}.{{ domainname }}/{{ lb.ip }} 
#}

#+----------------------------+#
#| --- DHCP-SEKTION ---       |#
#+----------------------------+#
{% if dhcp_range is defined %}
# DHCP-Bereich festlegen
## Gilt nur für alle Master und Worker Nodes
dhcp-range={{ dhcp_range }}
{% endif %}

# DHCP-Optionen (Default-Gateway, DNS-Server, ...)
## Gateway (Option=3)
dhcp-option=3,{{ dhcp_gateway }}

## DNS-Server (Option=6)
dhcp-option=6,{{ dnsserver }}

{% if ntpserver is defined %}
## NTP Server (Option=42)
dhcp-option=42,{{ ntpserver }}
{% endif %}

#+----------------------------+#
#| --- PXE/TFTP-SEKTION ---   |#
#+----------------------------+#
# PXE-Konfiguration > Alle Master und Worker-Nodes booten per PXE und laden die Datei pxelinux.0     aus dem TFTP-Rootverzeichnis
dhcp-boot=tag:openshift_node,{{ boot_script }},{{ bastion.hostname }}.{{ clustername }}.{{ domainname }}
enable-tftp
tftp-root={{ dir_tftp_root }}
