provider "vsphere" {
  vsphere_server = "provider-credentials.vsphere-server"
  user = "provider-credentials.vsphere-user"
  password = "provider-credentials.vsphere-pass"
  allow_unverified_ssl = true
}

#resource "random_pet" "name" {}

# --- Create VM Test-VM--- #
resource "vsphere_virtual_machine" "{{ hostname }}" {
  name = "{{ hostname }}"
  folder = var.ocp-folder
  guest_id = var.master_guest_id_tag
  resource_pool_id = data.vsphere_resource_pool.pool.id
  firmware = "bios"
  datastore_id = data.vsphere_datastore.datastore.id
  num_cpus = "{{ cpu }}"
  boot_delay = "{{ boot_delay }}"
  memory = "{{ ram }}"
  wait_for_guest_ip_timeout = 0
  wait_for_guest_net_timeout = 0
  network_interface {
    network_id = data.vsphere_network.network.id
    adapter_type = "vmxnet3"
  }
  disk {
    label = "rootvolume"
    size  = "{{ disksize }}"
    thin_provisioned  = "true"
    unit_number = 0
  }
}
