[raspi]
{{pi.hostname}} ansible_user=pi

[pxe]
{{pxe.hostname}} ansible_user=pi

[lb]
{{lb.hostname}}
{{lb.ip}}

[registry]
{{registry.hostname}}
{{registry.ip}}

[bastion]
{{bastion.hostname}}
{{bastion.ip}}

[router]
{{router.hostname}}
{{router.ip}}