DEFAULT menu.c32
PROMPT 0

MENU TITLE CentOS-Server-Install-Menu
MENU AUTOBOOT Starting CentOS in # seconds

timeout 18
ONTIMEOUT centOS

LABEL centOS
menu label Install {{ hostname }}
kernel {{pxe_vmlinux_kernel}}
append ip=dhcp initrd={{pxe_initrd_image}} inst.repo=nfs:{{nfs_server}}:{{nfs_software_folder}}{{iso_centos77}} inst.ks=nfs:{{nfs_server}}:{{nfs_kickstart_folder}}{{kickstart_file}}

