module "{{ hostname }}" {
    source = "/root/git/automated-openshift-installation/terraform/modules/vm-vsphere"
    vm_name = "{{ hostname }}"
    vm_ram = "{{ cpu }}"
    vm_ram = "{{ ram }}"
    vm_boot_delay = "{{ boot_delay }}"
}
