module "{{ hostname }}" {
    source = "{{ dir_terraform_module_vm }}"
    vm_name = "{{ hostname }}"
    vm_cpu = "{{ cpu }}"
    vm_ram = "{{ ram }}"
    vm_boot_delay = "{{ boot_delay }}"
    vm_disk = "{{ disksize }}"
}
