module "{{ hostname }}" {
    source = "/root/git/automated-openshift-installation/terraform/modules/vm-vsphere"
    name = "{{ hostname }}"
    num_cpus = "{{ cpu }}"
    memory = "{{ ram }}"
    boot_delay = "{{ boot_delay }}"
}
